.logo-render {
    /* height: 6vh;
    width: 10vw;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px ;
    margin: 10px 0 0 0; */
    /* position: absolute; */
    right: 85%;
    float: left;
    clear: left;
    height: 6vh;
    width: 10vw;
    margin-left: 3em;
    margin-bottom: 3em;
}