.color-side {
  background-color: #A5D4FD;
  position: fixed;
  background-image: url("https://i.ibb.co/rpk64v2/circle.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  margin: 0;
  top: 0;
  left: 0;
  width: 30%;
  bottom: 0;
  height: 100%;
  opacity: 0.8;
}


@media only screen and (max-width: 600px) {
  .color-side {
    display: none;
  }
}
