.navbar{
    height: 8vh;
    padding: 5px;
    width: 100%;
    /* display: grid;
	grid-template-columns: repeat(7, auto); */
    color: #FFFFFF;
    text-align: right;
    margin-top: 10px;
}

.nav-links{
    list-style: none;
    padding-right: 0px ;
    left: 80%;
margin-top: 1em;
}

.nav-link{
    text-decoration: none;
    color: #7A7A7A;
}
.nav-link:hover{
   color: #4D4D4D;
	transition: 0.3s all;
}

.nav-item {
    float: right;
    text-align: center;
    padding: 5px 70px 15px 0;
    font-size: 17px;
}

.clear {
    clear: both;
}