
#patient-list-container{
    width: 100%;
}

.patient-item-view{
    background-color: #FFFFFF;
    width: 95%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    font-size: 3em;
    margin: 2% 2% 2% 0;
    /* padding: ; */
    border-radius: 6px;
}

.patient-list-title{
    font-size: 1rem;
    font-weight: 500;
}

.card-options{
    display: flex;
}

.View{
    font-size: medium;
    color: #458FF6;
    cursor: pointer;
}

.Delete{
    font-size: medium;
    color: #458FF6;
    cursor: pointer;
    margin-left: 10px;
}

.View:hover, .Delete:hover{
    text-decoration: underline;
}

