.prediction-page-container {
  font-family: "Mulish Variable", sans-serif;
  width: 58%;
  margin: 0 30% 0 18%;
  padding: 1%;
  float: center;
  height: 100%;
}

.prediction-form {
  margin-top: 2vh;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.prediction-form-grid-container {
  background-color: #ffffff;
  height: 60%;
  width: 80%;
  padding: 2vh 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.prediction-input-container {
  width: 100%;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
}

.prediction-input-container label{
  text-transform: uppercase;
}

.prediction-input {
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  height: 4vh;
  margin-top: 1vh;
  width: 100%;
  font-family: inherit;
  padding: 5px;
}

.prediction-input:focus {
  outline: none;
  border: 1px solid #458ff6;
}

#prediction-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin-top: 3vh;
  margin-right: 20px;
}

.swal2-popup {
  font-family: "Mulish Variable", sans-serif;
}